<!-- begin footer -->
<footer class="footer footer_white" data-scroll-trigger data-anim-group="0.7" data-duration-anim="0.6" data-delay-anim="0.4" data-ease-anim="Power2.easeOut">
	<div class="footer__bg">
		<img src="./img/illustration-footer.svg" alt="illustration-footer" data-anim="from-bottom">
	</div>
	<div class="footer__inner" data-anim="from-bottom">
		<ul class="footer__soc soc soc_white">
			<li class="soc__item"><a href="#">{{ mixins.icon('facebook') }}</a></li>
			<li class="soc__item"><a href="#">{{ mixins.icon('medium') }}</a></li>
			<li class="soc__item"><a href="#">{{ mixins.icon('twitter') }}</a></li>
		</ul>
		<div class="footer__copy">© 2019 La Grande Planete Verte</div>
		<div class="footer__time">Opening at <span class="text-green">10:00 AM</span></div>
	</div>
</footer>
<!-- end footer -->