<!-- begin footer -->
<footer class="footer" data-scroll-trigger>
	<div class="footer__inner" data-anim="from-bottom" data-duration-anim="1.1">
		<ul class="footer__soc soc">
			<li class="soc__item"><a href="#">{{ mixins.icon('facebook') }}</a></li>
			<li class="soc__item"><a href="#">{{ mixins.icon('medium') }}</a></li>
			<li class="soc__item"><a href="#">{{ mixins.icon('twitter') }}</a></li>
		</ul>
		<div class="footer__copy">© 2019 La Grande Planete Verte</div>
		<div class="footer__time">Opening at <span class="text-green">10:00 AM</span></div>
	</div>
</footer>
<!-- end footer -->